.vue-sound-wrapper .vue-sound__player .vue-sound__extern-wrapper > .icon-download {
  display: none;
  user-select: none;
}

.preview-table-image {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.preview-form-image {
  width:100%;
  max-width:300px;
  height:auto
}

.video-display {
  width: 45% !important;
  border: none !important;
}

.croppie-container .cr-viewport,
.croppie-container .cr-resizer {
  box-shadow: 0 0 2000px 2000px rgba(28, 139, 184, 0.5) !important;
}

.v-image__image--cover {
  background-size: contain !important;
}

.image-icon .v-icon.v-icon {
  font-size: 3rem !important;
  color: #0A0A0A;
  opacity: .3;
}

.image-icon .v-badge, .v-image {
  pointer-events: visible;
  cursor: zoom-in;
}

.bottom-right-position {
  position: absolute;
  bottom: 1.55rem;
  right: 1.8rem;
  z-index: 4;
}

.bottom-center-position {
  position: absolute;
  bottom: 0.5rem;
  z-index: 4;
}

.top-left-position {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 4;
}

.v-carousel {
  background: #E3F2FD !important;
}

.video-player iframe {
  width: 100%;
  height: 320px;
}

.upload-image-box {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px dashed #1F1F1F;
  border-radius: 4px;
  height: 320px;
}

.logo-navbar {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .preview-table-image {
    width: auto;
    height: 60px;
  }
  .video-display {
    width: 93% !important;
    justify-content: center;
    border: none !important;
  }
  .video-player iframe {
    width: 100%;
    height: 220px;
  }
}
