.small-font-size {
    font-size: $font-size-h6 !important;
}
.default-font-size {
    font-size: $font-size-h5 !important;
}
.medium-font-size {
    font-size: $font-size-h3 !important;
}
.big-font-size {
    font-size: $font-size-h1 !important;
}

.text-bold {
    font-weight: bold;
}
.text-sub-header {
    font-family: $font-style-light !important;
    font-size: $font-size-h3 !important;
}
.text-menu text-primary {
    font-family: $font-style-semi-bold !important;
    font-size: $font-size-h4 !important;
    color: $dark !important;
    opacity: .4;
}
.text-menu {
    font-family: $font-style-light !important;
    font-size: $font-size-h5 !important;
    line-height: 2rem !important;
}
.text-sub-menu,
.text-button {
    font-family: $font-style-light !important;
    font-size: $font-size-h5 !important;
    line-height: 2rem !important;
    text-transform: none !important;
    span {
        font-family: $font-style-light !important;
    }
}
.text-no-data {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.38);
}
.text-tab-menu {
    font-family: $font-style-medium !important;
    font-size: $font-size-h6 !important;
}
.text-large-button {
    font-family: $font-style-medium !important;
    font-size: $font-size-h5 !important;
    line-height: 2rem !important;
    text-transform: none !important;
}
.text-info {
    font-family: $font-style-light !important;
    font-size: $font-size-h6 !important;
    color: $dark !important;
    opacity: .5;
}
.v-data-table-header th span {
    font-family: $font-style-light;
    font-size: 15px;
}
input {
    line-height: 1.6 !important;
}
.text-primary {
    color: $primary !important;
}
.text-dark {
    color: $dark !important;
}
.text-danger{
    color: $danger !important;
}
.text-warning {
    color: $warning !important;
}
.text-white {
    color: white !important;
}
.text-link {
    color: $link !important;
}
.text-underline {
  text-decoration: underline !important;
}
.text-ellipsis {
    text-shadow: none;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
}

.required .v-label:first-child:after {
    content: " *";
    color: red;
}
  
.date-input .v-input__slot legend {
    min-width: 50px;
}
  
.date-input .v-label:after {
    content: " *";
    color: red;
}
.v-data-table-header th {
    color: $primary !important;
    text-align: center !important;
}

.v-data-table tbody td {
    padding-top: 12px;
    padding-bottom: 12px;
}

.searching .theme--light.v-label {
    color: rgba(10, 10, 10, 0.3) !important;
}

.ql-editor p, .ql-editor ol,
.ql-editor ul, .ql-editor pre,
.ql-editor blockquote, .ql-editor h1,
.ql-editor h2, .ql-editor h3, .ql-editor h4,
.ql-editor h5, .ql-editor h6 {
    margin: 0 0 15px 0 !important;
}

.clickable {
    cursor: pointer !important;
}

@media screen and (max-width: 600px) {
    .v-data-footer {
        flex-wrap: nowrap !important;
        justify-content: center !important;
    }
    .v-application--is-ltr .v-data-footer__select .v-select {
        margin: 12px 0 12px 12px !important;
    }
    .v-application--is-ltr .v-data-footer__pagination {
        margin: 0 12px !important;
    }
    .v-data-table thead {
        display: none !important;
    }
}

@media screen and (max-width: 400px) {
    .text-brand {
        font-size: 1.25rem !important;
    }
}