.v-application {
  font-family: $font-style-light !important;
}

.v-application--wrap {
  background: #E5E5E5;
}

.v-application .success--text {
  color: $primary !important;
  caret-color: $primary !important;
}

.v-text-field--outlined,
.v-text-field--solo {
  border-radius: 5px !important;
  .v-input__slot {
    // border: 1px solid #CCCCCC
  }
}

.v-slide-group__prev {
  display: none !important;
}

.shadow-header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05) !important;
}

.shadow-sidebar {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
}

.text-sub-title {
  color: #4D4D4D !important;
  font-family: $font-style-medium !important;
}

.upload-image-layout .v-icon,
.upload-image-layout .img-upload-text,
.upload-multiple-image-button .v-icon {
  opacity: .5 !important;
}

.img-title {
  font-size: 14px;
}

.v-tabs {
  border-bottom: 1px solid #00000029
}

.v-btn:not(.v-btn--round):not(.v-btn--block).v-size--default {
  min-width: 150px !important;
}

div.v-list-item__action,
div.v-list-item__icon {
  min-width: 30px;
}

.v-list .v-list-item--active {
  color: white !important;
}

.v-application--is-ltr .v-list-item__action:first-child,
.v-application--is-ltr .v-list-item__icon:first-child {
  margin-right: 8px !important;
}

.v-list .v-list-item--active {
  color: $primary !important;
  background: white !important;
  opacity: 1 !important;
}

.v-input--switch__track {
  height: 28px !important;
  width: 43px !important;
  background: $primary !important;
  border-radius: 18px !important;
}
.v-input--switch__thumb {
  height: 14px !important;
  width: 14px !important;
}
.v-application--is-ltr .v-input--switch .v-input--selection-controls__ripple {
  visibility: hidden;
}
.v-input--selection-controls__input {
  padding-top: 5px !important;
}
.v-input--switch, .v-input--switch.v-input--is-label-active {
  .v-input--switch__thumb {
    color: #FFFFFF !important;
    padding-right: 3px !important;
    right: 3px !important;
  }
  .v-input--switch__track {
    background: $primary !important;
    opacity: 1 !important;
  }
}
.inactive-toggle,
.status-switch.inactive-toggle,
.active-switch.inactive-toggle {
  .v-input--switch__thumb {
    color: #BFBFBF !important;
    left: 3.5px !important
  }
  .v-input--switch__track {
    background: #FFFFFF !important;
    border: 3px solid #BFBFBF;
    opacity: 1 !important;
  }
}
.disabled-toggle {
  .v-input--switch__thumb {
    color: #BFBFBF !important;
    left: 3.5px !important
  }
  .v-input--switch__track {
    background: #FFFFFF !important;
    opacity: .75 !important;
    border: 3px solid #b9b9b938;
  }
}
.active-switch {
  .v-input--switch__track {
    width: 42px !important;
  }
  .v-input--selection-controls__ripple {
    visibility: hidden;
  }
  .v-input--switch__thumb {
    transform: translate(16px, 0) !important;
  }
}

.v-badge__wrapper {
  .v-badge__badge {
    border-radius: 5px !important;
  }
}
.v-badge.text--primary {
  .v-badge__wrapper {
    .v-badge__badge {
      color: $primary;
    }
  }
}
.v-badge.text--success {
  .v-badge__wrapper {
    .v-badge__badge {
      color: $success;
    }
  }
}

.v-list-item .v-list-item__title,
.v-list-item .v-list-item__subtitle {
  line-height: 1.6 !important;
}

.base-border {
  border-radius: 5px !important;
}

.large-border {
  border-radius: 10px !important;
}

.v-input .v-label {
  height: 27px !important;
  line-height: 27px !important;
}

.bg-white {
  background-color: white !important;
} 

.alert-part {
  position: fixed;
  top: 0;
  left: 45%;
  z-index: 5;
}

.position-relative {
  position: relative;
}

.fixed-top {
  position: fixed !important;
  top: 0;
}

.shadow-none {
  box-shadow: none !important;
}

.login-page .v-text-field .v-input__slot {
  box-shadow: none !important;
  margin-bottom: 0 !important;
}

.v-dialog {
  min-width: 50% !important;
  max-width: 90% !important;
  width: auto !important;
  box-shadow: none !important;
}

.v-text-field__details,
.sub-tels .v-input__slot {
  margin-bottom: 0 !important;
}

.customer-info table tbody td {
  vertical-align: top;
}

.background-none {
  background: none !important;
}

.w-100,
.tox-tinymce {
  width: 100% !important;
}

.mw-100 {
  max-width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.position-fixed-center {
  position: fixed;
  top: 50%;
}

.text-decoration {
  text-decoration: none;
}

.square-btn .v-btn:not(.v-btn--round):not(.v-btn--block).v-size--default {
  min-width: 2.5rem !important;
  max-width: 2.5rem !important;
  height: 2.5rem !important;
}

.home-page {
  height: 80vh !important;
  opacity: .5;
}

.logout-btn {
  background: $primary !important;
}

.logout-btn .v-list-item__title {
  color: white;
}

input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, .5) !important;
}

.v-alert ul {
  padding-left: 0px !important;
}
.v-alert ul li {
  display: block;
}

.v-list-item {
  opacity: 0.8;
}

.upload-multiple-image-background {
  background: #FFFFFF;
  border: 1px solid #BFBFBF;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  position: relative;
  color: #999999;
  .upload-text {
    text-decoration: underline;
    color: $link;
  }
}

.upload-multiple-image-button:hover {
  cursor: pointer;
}

.border-line-left {
  border-left: 1px solid #EFEFEF;
}

*[data-v-1f53c317] {
  box-sizing: border-box !important;
  font: inherit !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  font-size: 16px !important;
}

.vth-addr-label {
  margin-bottom: 2px !important;
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.6) !important;
}
.vth-addr-label::after {
  content: " *";
  color: red;
}
.vth-addr-input {
  height: 56px !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
}

.address-contact {
  .v-input__slot {
    margin-bottom: 3px !important;
  }
}

.tr-head {
  border: 1px solid black;
}

.text-head-table {
  border-bottom: thin solid rgba(0, 0, 0, 0.12);
  border-top: thin solid rgba(0, 0, 0, 0.12);
  font-size: 14px !important;
}

.custom-gmap-place-autocomplete {
  border: 1px solid rgba(0, 0, 0, 0.36);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}

.v-btn-toggle > .v-btn.v-btn {
  opacity: 1 !important;
}
.v-btn-toggle > .v-btn.v-btn.v-btn-group-active {
  color: white !important;
}
.theme--light.v-btn-group-active.v-btn--active::before {
  opacity: 0 !important;
  color: white !important;
}

.disable-item {
  user-select: none !important;
  cursor: none !important;
  opacity: .5 !important;
}

.quill-input-wrapper {
  margin-bottom: 10px;
}
.short-editor {
  .quill-editor {
    min-height: 125px !important;
    max-height: 125px !important;
  }
  .ql-container {
    min-height: 105px !important;
    max-height: 105px !important;
    overflow-y: scroll !important;
  }
}
.faq-form-group,
.contact-tel-input {
  .v-input__slot {
    margin-bottom: 2px;
  }
}
.search-input {
  .v-label {
    font-family: $font-style-light !important;
  }
}

@media screen and (max-width: 900px) {
  .border-line-left {
    border-left: none
  }
}

@media screen and (max-width: 600px) {
  .v-btn:not(.v-btn--round):not(.v-btn--block).v-size--default {
    min-width: 125px !important;
  }
  .ql-toolbar.ql-snow .ql-formats {
    display: flex;
  }
  .ql-toolbar.ql-snow {
    display: flex;
    height: 42px;
    overflow: auto;
  }
  .faq-form-group {
    .quill-editor {
      min-height: 200px !important;
      max-height: 200px !important;
    }
    .ql-container {
      min-height: 149px !important;
      max-height: 149px !important;
      overflow-y: scroll !important;
    }
  }  
}

@media screen and (max-width: 375px) {
  .v-data-table__mobile-row {
    margin-top: 15px !important;
  }
}